@using Movie.Interface;
@using Movie.Models
@model object;
@{

    var typeModel = ViewData.Eval("type") as string;
    var MovieType = ViewData.Eval("obj") as IMovieType;

    ViewBag.Title = MovieType.Name;
    ViewBag.StyleLink = "/css/stylepagemovie.css";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="Main_Context">
    <div class="Data_Movie">
       <div class="Poster">
            <img src="~/@(MovieType.PosterPath)" runat="server" alt="">
       </div>
       <div class="Description_Context">
            <div class="Description_Data">

                @{
                    <p>@MovieType.Name</p>

                    if (typeModel == "Serial")
                    {
                        if (!(MovieType as Serial).Completed)
                        {
                            <p>Status: season @((MovieType as Serial).Season) episode @((MovieType as Serial).Episode)</p>
                        }
                        else 
                        {
                            <p>Status: season @((MovieType as Serial).Season) episode @((MovieType as Serial).Episode)</p>
                            <p>Status: Completed</p>
                        }

                    }

                }


            </div>
            <div class="Description_Text">
                <p style="display:block;">
                    Description: <br/>
                    @(MovieType.Description);
                </p>
            </div>
       </div>
        <div style="position: absolute;right: 8.5%; margin: -10px;background: #52ac62;width: 53px;border-radius: 0 1em 0 1em; text-align: center;">
            <p>7.4</p>
        </div>
    </div>
    <div class="List_File">
        <table>
            <tr>
                <td><p>23:4</p></td>
                <td><p>Name: NameFile_0...</p></td>
                <td><input type="submit"></td>
            </tr>
        <tr>
            <td><p>124:25</p></td>
            <td><p>Name: NameFile_1...</p></td>
            <td><input type="submit"></td>
        </tr>

        </table>
    </div>
</div>
